# Variables de entorno para ms-envios
# Renombrar este archivo a .env antes de ejecutar

DB_HOST_ENVIOS=localhost
DB_PORT_ENVIOS=3306
DB_NAME_ENVIOS=db_smartlogix_envios
DB_USER_ENVIOS=root
DB_PASS_ENVIOS=
